.subtitulo{
    text-align:left;
    text-align-last: center;
    font-size: 10px;
}
.fondo{
    background-color: rgb(93, 93, 248);
}
.logo{
    height: 60px;
    width: 80px;
    display: flex;
    justify-content: center;
   
}