
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="tarjeta">
    <img src="assets/logo.png">
    <ion-card-header>
      <ion-card-subtitle>App-Ttendance</ion-card-subtitle>
      <ion-card-title>Vision de la app</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="parrafo">
        App-Ttendance es una aplicación destinada hacia alumnos y docentes de la
        institucion Duoc Uc, con esta se podra guardar la asistencia de los alumnos,
        escaneando un codigo QR el cual el profesor generara de su propia interfaz
        en la misma aplicación.
      </p>
    </ion-card-content>
    <img src="assets/duoc.jpg" class="ion-padding">
    </ion-card>

</ion-content>